# requirements.txt
streamlit
pyvis
langchain
langchain-groq
beautifulsoup4
requests
networkx
python-dotenv
sentence-transformers
faiss-cpu
autogen
langchain-community
youtube-transcript-api
kreuzberg
validators
